.info-hint {
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    gap: 8px;
    padding-top: 12px;
    justify-content: center;
    width: 112px;
    height: 56px;

    background-image: url(./../img/icons/hint.svg);
}

.info-hint_radio {
    clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.info-hint_radio:checked + .info-hint_radio-fake {
    border: 2px solid;
    background-image: url(./../../img/icons/check-no-shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.info-hint_radio-fake {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-color: gray;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    &--orange {
        background-color: var(--ui-orange);
    }

    &--biruza {
        background-color: var(--ui-biruza);
    }

    &--gray {
        background-color: var(--ui-gray);
    }
}